.contactsForm__container {
    width: 400px;
    height:600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: rgba(0, 0, 0, 0.75);
    border: 1px solid black;
    border-radius: 4px;
}

.addContact__title {
    justify-content: center;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}

.contactsForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contactsForm__label{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.contactsForm__text {
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}

.contactsForm__input {
    width: 100%;
    background: rgba(53, 56, 58, 1);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    padding: 5px;
    border: 1px solid black;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contactsForm__input:hover {
    border-color: rgb(109, 111, 224);
}

.contactsForm__input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px rgba(53, 56, 58, 1);
    -webkit-text-fill-color: rgb(255, 255, 255);
}

.contactsAdd__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    padding: 12px;
    width: 100%;
    height: 50px;
    background: rgb(15, 13, 151);
    color: #fff;
    border: 1px solid black;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contactsAdd__btn:hover {
    background: rgb(53, 50, 247);
    border: 1px solid black;
}