.filter__container {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 4px;
}

.filter__label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter__title {
    justify-content: center;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

.filter__input {
    width: 100%;
    background: rgba(53, 56, 58, 1);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    padding: 5px;
    border: 1px solid black;
}

.filter__input:hover {
    border-color: rgb(109, 111, 224);
}
