.userMenu__wrap {
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 5px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.75);
    z-index: 100;
}

.userName__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.user__icon {
    display: block;
    background-image: url("../../../../images/ava_enot.jpg");
    background-size: cover;
    width: 45px;
    height: 45px;
    overflow: hidden;
    padding: 5px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: #aaa 1px solid;
    box-shadow: 0px 1px 1px 1px #bbb;
}

.userMenu__text {
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
}

.logOut__btn {
    /* border-radius: 4px; */
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    padding: 0;
    width: auto;
    background-color: inherit;
    color:rgb(178, 177, 236);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logOut__btn:hover {
    color: rgb(255, 255, 255);
}